* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: #9b59b6;
}

body::before,
body::after,
body::after::before,
body::before::before {
  content: '';
  position: absolute;
  pointer-events: none;
}

body::before {
  top: 0; left: 0; right: 0; height: 2cm;
  background: linear-gradient(to bottom, #9b59b6 0%, transparent 100%);
}

body::after {
  bottom: 0; left: 0; right: 0; height: 2cm;
  background: linear-gradient(to top, #9b59b6 0%, transparent 100%);
}

body::before::before {
  top: 0; bottom: 0; right: 0; width: 2cm;
  background: linear-gradient(to left, #9b59b6 0%, transparent 100%);
}

body::after::before {
  top: 0; bottom: 0; left: 0; width: 2cm;
  background: linear-gradient(to right, #9b59b6 0%, transparent 100%);
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

h1 {
  font-size: 3rem;
  color: #9b59b6;
  margin-bottom: 50px;
}

.en-proceso {
  color: #9b59b6;
  font-size: 1rem;
  margin-bottom: 50px;
  text-align: center;
}

.proyectos {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.proyecto {
  display: inline-block;
  padding: 25px 40px;
  background: #ddd; 
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.proyecto:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .en-proceso {
    margin-bottom: 30px;
  }

  .proyecto {
    width: 80%;
    padding: 20px 0;
  }
}


