* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #9b59b6;
  margin-bottom: 10px;
}

.en-proceso {
  color: #9b59b6;
  font-size: 1rem;
  margin-bottom: 50px; /* separa de los botones */
}

.proyectos {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.proyecto {
  display: inline-block;
  padding: 25px 40px;
  background: #ddd; 
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.proyecto:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .proyecto {
    width: 80%;
    padding: 20px 0;
  }
}
